@page "/AttivaEmailNewsLetter/{component}"
@inherits AttivaNewsLetterMailBase
@layout MainLayoutAdminWithoutMenu
<style>
    .button-preview-evento, .btn-salva-evento {
        border: 2px solid #ffce33;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 12em !important;
        color: #000;
        padding: 0px 10px 0px 10px !important;
    } 
</style>
<div class="body-content-legarti" style="text-align:center">
    <div style="width: 70%; border: 1px solid #ffce33; margin: auto; padding: 3em">
        <spam style="font-size:2em">@mess</spam>
        <div class="btn-new-event" style="padding-top:1em; text-align:center" >
            <span class="primary-btns">
                <MudButton @onclick="@(()=>Home())" Class="btn-salva-evento">HOME</MudButton>
            </span>
        </div>
    </div>

</div>