@inherits MenuTopBase

<div class="top_sub-menu">
    @*<a class=@(voceMenuSelezionata != null && voceMenuSelezionata.ToLower()=="/" ? "top_sub-menu-link active" : "top_sub-menu-link") href="/">Chi siamo </a>*@
    <a class=@(voceMenuSelezionata != null && voceMenuSelezionata.ToLower()=="bibliocabine/index" ? "top_sub-menu-link active" : "top_sub-menu-link") href="/BiblioCabine/Index">Dove Siamo</a>
    <a class=@(voceMenuSelezionata != null && (voceMenuSelezionata.ToLower()=="suggerimento/index" ) ? "top_sub-menu-link active" : "top_sub-menu-link") href="/Suggerimento/Index">Idee e suggerimenti</a>
    <a class=@(voceMenuSelezionata != null && voceMenuSelezionata.ToLower()=="eventi/index" ? "top_sub-menu-link active" : "top_sub-menu-link") href="/eventi/index">Eventi</a>
    <a class=@(voceMenuSelezionata != null && voceMenuSelezionata.ToLower()=="video/index" ? "top_sub-menu-link active" : "top_sub-menu-link") href="/video/index">Progetto Legalità</a>
</div>