@import 'variables.scss';
.text-description {
    background-color: blanchedalmond;
    text-align: left;
   
}
.text-description-title {

    background-color: blanchedalmond;
}


.button-admin {
    margin: 2em;
    padding: .5em;
}

.centered-div-admin {
    background-color: #fff;
    color: #000;
    width: 50%;
    margin: 10px;
    padding: 5px;
    border: 1px solid $color-background;
    top:80%;
}



.box-login-admin {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   }


@media (max-width: 900px) {

    .centered-div-admin {
        width: 100%;
        margin: 5px;
        padding: 5px;
    }

    .box-login-full-admin {
        font-size: 8px;
        padding: 0em;
    }



    #box-login-admin > div > div > div > label {
        font-size: 1.5em;
        padding: 0px !important;
    }

    .box-login-full-admin > .col-md-12 > .mud-input-control > .mud-input-control-input-container > .mud-input-label-outlined.mud-input-label-inputcontrol, {
        font-size: 1.5em;
        padding: 0px !important;
    }

    .button-registrati, .button-password-forgot {
        font-size: 1.5em;
        padding: .2em !important;
    }

    .mud-input-label-outlined {
        transform: translate(14px,20px) scale(1);
        pointer-events: none;
        // padding: 0 5px !important;
    }


    .button-login-admin {
        font-size: 1.9em;
        padding: 0 !important;
    }

    .mud-icon-root {
        width: .8em;
        height: 1em;
    }
}
