@import 'variables.scss';
@import 'menu.scss';
@import 'login.scss';
@import 'messaggi.scss';
@import 'idee-suggerimenti.scss';
@import 'biblio-cabine.scss';
@import 'home.scss';
@import 'evento.scss';
@import 'admin.scss';


/*============
    N E W
    ==========*/
.aligning-main-container  {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.container-pages {
    display: flex;
    flex-flow: row wrap;
}

.center-horizontal-items {
    justify-content: center;
}

.center-vertical-items {
    align-items: center;
}

/* Bibliocabine page */
.aligned-box-cabina {
    width: 33%;
    display: inline;
    float: left;
}

.cabina-profile-picture {
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

/* ========== END =========== */
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: $font-stack;
    background-color: $color-background;
}

.affix {
    -webkit-transition: padding 0.2s ease-out;
    -moz-transition: padding 0.2s ease-out;
    -o-transition: padding 0.2s ease-out;
    transition: padding 0.2s ease-out;
}

.extended-element {
    padding: 0 !important;
    margin: 0 !important;
}

.transparent-boxes {
    background-color: transparent;
    box-shadow: none !important;
}

.center-flex-elements {
    display: flex;
    align-items: center;
}

.full-width-main-boxes {
    width: 100%;
    height: 100%;
    position: relative !important;
}

.main-containers-web {
    width: 100%;
    height: 80%;
}

.below-container {
    z-index: 0;
}

#content-body {
    height: 100%;
    min-width: 100%;
    position: absolute;
}

.lines-legarti {
    border: none;
    border-top: 0.8em solid $color-font-main;
    width: 100%;
}

.lines-legarti-neg {
    border: none;
    border-top: 0.6em solid $color-font-dark;
    width: 100%;
}

#intestazione-icona {
    width: 100%;
}

.XXL-icons {
    width: 70px;
}

.big-icons-home {
    width: 42px;
}

.small-icons {
    width: 29px;
}

.Xsmall-icons {
    width: 19px;
}

.chapter-icon {
    width: 100%;
}


.mud-grid-spacing-xs-3 {
    width: calc(100% + 0px) !important;
}

/* Navbar versione mobile */
.mobile-navbar {
    background-color: $color-background;
}
/*  typo Legarti */
.main-title {
    font-size: 52px;
    font-family: PlayfairDisplay-Medium;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.subtitle {
    font-size: 32px;
    font-family: PlayfairDisplay-Medium;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
/*
.subtitleB {
    font-size: 23px;
    font-family: PlayfairDisplay-Medium;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}*/

.text-legarti {
    font-size: 15px;
    font-family: Halenoir-Light;
}

.text-bold {
    font-size: 15px;
    font-family: Halenoir-Black;
}

.text-reg {
    font-size: 15px;
    font-family: Halenoir-Medium;
}

.bold-text {
    font-weight: 900 !important;
}

/*  colors Legarti */
.light-color {
    color: $color-background;
}

.main-color {
    color: $color-font-main;
}

.dark-color {
    color: $color-font-dark;
}

.red-color {
    color: $color-font-red;
}
/* 
    I link rimangono selezionati anche 
    quando si fa pardere il focus
*/
.footer-legarti {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-font-main;
}

.inner-footer-container {
    background: rgb(217,54,50);
    background: linear-gradient(137deg, rgba(217,54,50,0) 45%, rgba(217,54,50,0.5329482134650736) 100%);
}

.footer-legarti, .inner-footer-container {
    border-radius: 40px 40px 0 0;
}

.copyright-text {
    font-size: 13px;
}

.flex-search-container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}


.table-css {
    height: 100%;
    overflow: auto;
}

.flex-result-container {
    //  display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}


#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    padding-right: 1em;
}

.content-menu-body {
    float: left;
    height: 100%;
}

.content-loading {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center
}

.content-loading i, .content-loading p {
    font-size: 1.5em;
    color: gray
}

.loading-text {
    padding-left: 10%;
    padding-top: 15%;
    text-align: left;
    font-size: 1.3em;
}

.loading-bar {
    padding-left: 10%;
    padding-top: 10%;
    text-align: center;
}

.mud-dialog-width-sm {
    max-width: 1000em;
    width: 25em;
    height: 15em;
}

.mud-dialog .mud-dialog-title {
    border-bottom: 1px solid #b3b5bc;
}
/**********  filter class *****************/

.filter {
    width: 98%;
    border-bottom: 1px solid #b3b5bc;
}
/********** end filter class *****************/
.custom-next-arrow {
    margin-left: 3em !important;
}

.custom-prev-arrow {
    margin-right: 3em !important;
}

.custom-prev-arrow, .custom-next-arrow {
    margin-right: 3em !important;
    color: $color-font-red !important;
    border: 0.1em solid $color-font-red !important;
    border-radius: 5px !important;
    font-size: 1em !important;
}

a {
    color: #0366d6;
    text-decoration: none;
}

.element-padding-top {
    padding-top: 5%;
}

.button-align-right {
    text-align: right;
}

.button-save {
    width: 15% !important;
}

/*.body-content-legarti {
    padding-top: 5em;
}*/

/* Media Queries */
@media only screen and (max-width: 659px) {
    .header-container {
        background-image: url(/image/sfondo_header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    #intestazione-icona {
        width: 70%;
        min-width: 70%;
    }

    .hidden-small-sizes {
        display: none;
    }

    .hidden-big-sizes {
        display: block;
    }
}


@media only screen and (min-width: 660px) {

    .hidden-small-sizes {
        display: block;
    }

    .hidden-big-sizes {
        display: none;
    }
}

@media only screen and (min-width: 660px) and (max-width: 800px) {

    .header-container {
        background-image: url(/image/sfondo_header.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 801px) {
    .header-container {
        background-image: url(/image/sfondo_header-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .first-container-mobile {
        display: none;
    }
}

@media only screen and (min-width: 650px) and (max-width: 900px) {
    .main-containers-web {
        height: auto !important;
        min-height: auto !important;
    }
}

@media (max-width: 900px) {
    #yellow-box-negat-margin {
        margin-top: -19em;
        padding: 20em 0 6em 3em !important;
    }

    #circle-background {
        height: 520px;
        border-radius: 80%;
    }

    #hide-grid-on-small {
        display: none !important;
    }

    #show-grid-on-small {
        display: block !important;
    }

    #hide-grid-on-small {
        display: block !important;
    }

    #show-grid-on-small {
        display: none !important;
    }

    /*    .titolo {
        padding-top: 2em;
    }*/
    /*    .body-content-legarti {
        padding-top:1em;
    }*/
}



/* Per Dispositivi Mobili */
.negative-margin-footer {
    margin-top: -48px;
}


.fa {
    padding: 5px 10px 5px 10px;
    font-size: 25px;
    // width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.align-image-home {
    padding-top: 20em !important;
}

.align-image-home-circle {
    padding-top: 20em !important;
}

.text-legarti-hashtag {
    font-size: 12px !important
}


.text-legarti-hashtag {
    font-size: 12px !important
}


/*
.titolo {
    text-align: center;
    font-size: 3em;
    color: rgba(48, 3, 2, 0.5);
    font-weight: 100;
    text-shadow: 0 0 2px #ffce34;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
}*/
#mud-snackbar-container {
    margin-bottom: 5em !important;
}
