.login-message-label {
    text-align: center !important;
}

.validation-message {
    color: red !important;
    font-size: 12px !important;
    text-align: center !important;
}


.error {
    color: red !important;
}

.success {
    color: green !important;
}
