$color-background: #ffffff;
$sfumatura: #ffd75b;
$font-stack: Roboto, Arial, Helvetica sans-serif, Halenoir-Light, Halenoir-Black, PlayfairDisplay-Medium;
$shadow: 5px 3px 5px #eaeaea;
$color-font-main: #FFCE34;
$color-font-dark: #191411;
$color-font-red: #A70F0C;

$gradiant: linear-gradient(to right, $color-background, $sfumatura);


@font-face {
    font-family: "Halenoir-Light";
    src: url(../wwwroot/Files/Font/Halenoir-Light.otf) format('opentype');
    src: local('Halenoir-Light');
}

@font-face {
    font-family: "Halenoir-Black";
    src: url(../wwwroot/Files/Font/Halenoir-Black.otf) format('opentype');
    src: local('Halenoir-Black');
}

@font-face {
    font-family: "PlayfairDisplay-Medium";
    src: url(../wwwroot/Files/Font/PlayfairDisplay-Medium.ttf) format('truetype');
    src: local('PlayfairDisplay-Medium');
}