@font-face {
  font-family: "Halenoir-Light";
  src: url(../../Files/Font/Halenoir-Light.otf) format("opentype");
  src: local("Halenoir-Light"); }

@font-face {
  font-family: "Halenoir-Black";
  src: url(../../Files/Font/Halenoir-Black.otf) format("opentype");
  src: local("Halenoir-Black"); }

@font-face {
  font-family: "PlayfairDisplay-Medium";
  src: url(../../Files/Font/PlayfairDisplay-Medium.ttf) format("truetype");
  src: local("PlayfairDisplay-Medium"); }

@font-face {
  font-family: "Halenoir-Light";
  src: url(../../Files/Font/Halenoir-Light.otf) format("opentype");
  src: local("Halenoir-Light"); }

@font-face {
  font-family: "Halenoir-Black";
  src: url(../../Files/Font/Halenoir-Black.otf) format("opentype");
  src: local("Halenoir-Black"); }

@font-face {
  font-family: "PlayfairDisplay-Medium";
  src: url(../../Files/Font/PlayfairDisplay-Medium.ttf) format("truetype");
  src: local("PlayfairDisplay-Medium"); }

#menu-gradient-container {
  background: white;
  background: linear-gradient(144deg, rgba(255, 255, 255, 0) 0%, rgba(217, 54, 50, 0.45) 100%);
  width: 100%;
  height: 100%;
  min-width: 100%; }

.sorry {
  font-size: 2em;
  padding-top: 5em; }

/*hemburger*/
#content-hamburger-link {
  height: 100em;
  padding-top: 10em;
  width: 100%;
  position: absolute; }

#navbar-top {
  box-shadow: none;
  z-index: 500;
  position: fixed;
  width: 100%;
  background-color: rgba(48, 3, 2, 0.5); }

.affix-top#navbar-top {
  background-color: #ffffff; }

#navbar-top .transparent-boxes {
  padding: 0 !important; }

#legarti-logo-header {
  width: 75px; }

#buger-menu {
  max-width: 28px; }

#buger-menu > img {
  width: 0.3em; }

.btn-close-menu {
  display: flex;
  justify-content: end; }

.menu-inner-line {
  border: none;
  border-bottom: 0.018em solid #191411;
  display: none;
  transition: background-color 2s ease-out 100ms; }

.link-menu .menu-inner-line:hover, .link-menu .menu-inner-line:focus {
  display: block;
  transition-duration: 0.5s; }

/*#special-marg-top {
    margin-top: 0.4em;
}*/
/*.hamburger-menu {
    display: none;
    text-align: left;
    font-size: 2em;
}*/
.left-menu-home {
  margin: 60px 60px 40px 10px; }

.logo {
  position: absolute;
  top: 0;
  left: 0; }

.hamburger-logo {
  text-align: center;
  display: none; }

.didascalia {
  margin-left: auto;
  margin-right: auto;
  background-color: darkred;
  width: 20em;
  color: #fff; }

.top_sub-menu {
  display: flex;
  justify-content: center;
  width: 100% !important; }

.top_sub-menu-link-arrow {
  color: #243238;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin: 0 30px; }

.top_sub-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin: 0 30px; }

.top_sub-menu-link.active {
  color: yellow !important; }

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid #fff;
  color: #000; }

.btnLogon, .btnLogon i {
  color: #000; }

.topnav {
  display: none;
  text-align: left;
  width: 100%;
  background-color: transparent;
  position: absolute !important; }

/*MENU PRINCIAPLE A SCHERMO INTERO*/
.topnav a {
  color: white;
  padding: 1px 20px;
  text-decoration: none;
  font-size: 14px;
  display: block; }

.topnav a.icon {
  background-color: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0; }

.topnav a:hover {
  background-color: #ddd;
  color: black; }

.active {
  background-color: transparent;
  color: white; }

.fa-logout {
  padding: 10px; }

.font-active-role {
  font-size: 16px;
  color: #0366d6; }

.font-list-role {
  font-size: 13px;
  color: #808080; }

.font-black-username {
  text-transform: uppercase;
  color: #000; }

.top-Menu-link .row > * {
  padding: 0px !important;
  padding-left: 0px !important; }

.user-circle {
  padding-top: 50%;
  padding-right: 1%; }

.titlePanelRoles {
  min-height: 0px !important;
  height: 0px !important;
  padding: 0px !important;
  padding-left: 1em !important; }

.mud-expand-panel .mud-expand-panel-header {
  align-items: center;
  display: flex;
  font-size: .9375rem;
  line-height: 1;
  outline: none;
  padding: 0px !important;
  padding-left: 3em !important;
  position: relative;
  transition: min-height 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  user-select: none; }

/*FINE MENU PRINCIAPLE A SCHERMO INTERO*/
#link-menu-hamburger {
  display: none; }

@media (max-width: 900px) {
  .logo {
    /* width: 100%;
        margin-left: 2em;
        margin-right: 1em;*/
    position: relative; }
  .top_sub-menu-link {
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    margin: 0 10px; } }

@font-face {
  font-family: "Halenoir-Light";
  src: url(../../Files/Font/Halenoir-Light.otf) format("opentype");
  src: local("Halenoir-Light"); }

@font-face {
  font-family: "Halenoir-Black";
  src: url(../../Files/Font/Halenoir-Black.otf) format("opentype");
  src: local("Halenoir-Black"); }

@font-face {
  font-family: "PlayfairDisplay-Medium";
  src: url(../../Files/Font/PlayfairDisplay-Medium.ttf) format("truetype");
  src: local("PlayfairDisplay-Medium"); }

body {
  color: #898b8c; }

.content-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh; }

.centered-div {
  background-color: #fff;
  color: #000;
  width: 50%;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ffffff; }

.box-login {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*  margin: 0px;
    border: 1px solid $color-background;
    min-height: 50vh;
    min-width: 40vw;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
   
    padding:3em 15em 15em 3em;*/ }

.box-login-logo {
  padding: 10px;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  min-height: 3em; }

.box-login-full {
  padding: 3em 4em 3em 4em; }

.box-login .form-floating > label {
  padding: 1em 4em !important; }

.box-login .box-text-left {
  text-align: left; }

.button-password-forgot {
  padding-top: 2em;
  /* display: flex;
    justify-content: space-between;*/
  font-size: 14px;
  text-align: center; }

.button-password-forgot a {
  text-decoration: none; }

.button-registrati {
  padding-top: 2em;
  /* display: flex;
    justify-content: space-between;*/
  font-size: 14px;
  text-align: center; }

.button-registrati a {
  text-decoration: none; }

.otp-hidden {
  display: none; }

#txtPassword {
  border-right: none !important; }

#spanPassword {
  background-color: #fff; }

.span-login {
  border-right: none !important;
  background-color: transparent;
  border-bottom-left-radius: 10px 10px;
  border-top-left-radius: 10px 10px; }

.button-login {
  width: 100% !important;
  border: none;
  padding: .5em;
  border-radius: 12em !important;
  background-image: linear-gradient(to right, #ffffff, #ffd75b);
  color: #000; }

.content-button-login {
  padding-top: 1em;
  width: 100% !important; }

.text-login {
  height: 3em !important;
  padding: 2% !important;
  border-left: none !important;
  border-bottom-right-radius: 10px 10px !important;
  border-top-right-radius: 10px 10px !important; }

.form-control {
  outline: none !important;
  box-shadow: 0px 0px #fff; }

.input-group > .form-control, .input-group > .form-select {
  outline: none !important;
  box-shadow: 0px 0px #fff; }

.span-user {
  padding: .9rem; }

.text-login:focus {
  border: 1px solid #ced4da !important;
  border-left: none !important; }

@media (max-width: 900px) {
  .centered-div {
    width: 100%;
    margin: 5px;
    padding: 5px; }
  .box-login-full {
    font-size: 8px;
    padding: 0em; }
  #box-login > div > div > div > label {
    font-size: 1.5em;
    padding: 0px !important; }
  .box-login-full > .col-md-12 > .mud-input-control > .mud-input-control-input-container > .mud-input-label-outlined.mud-input-label-inputcontrol {
    font-size: 1.5em;
    padding: 0px !important; }
  .button-registrati, .button-password-forgot {
    font-size: 1.5em;
    padding: .2em !important; }
  .mud-input-label-outlined {
    transform: translate(14px, 20px) scale(1);
    pointer-events: none; }
  .button-login {
    font-size: 1.9em;
    padding: 0 !important; }
  .mud-icon-root {
    width: .8em;
    height: 1em; } }

.login-message-label {
  text-align: center !important; }

.validation-message {
  color: red !important;
  font-size: 12px !important;
  text-align: center !important; }

.error {
  color: red !important; }

.success {
  color: green !important; }

.box-container-suggerimento {
  display: flex;
  flex-flow: wrap;
  width: 100%; }

.box {
  background-color: #fff;
  padding: 20px;
  flex-basis: calc((100% - 120px) / 3);
  margin-left: 2em;
  margin-bottom: 40px;
  transition: all .1s ease-out;
  color: #0b2d3d;
  box-sizing: border-box;
  width: calc((100% - 120px) / 4);
  -ms-word-break: break-all;
  word-break: break-all;
  border-radius: 25px; }

.results {
  color: #0b2d3d; }

.div-content-suggerimento {
  border-radius: 25px;
  background: #fff;
  padding: 20px;
  width: 200px;
  height: 150px; }

.box-left-suggerimento {
  padding-top: 1em;
  float: left;
  /* width: 30%;*/ }

.box-right-suggerimento {
  float: right;
  width: 70%; }

.footer-suggerimento {
  position: relative;
  padding-top: 35%; }

.box-align-left-suggerimento {
  text-align: left;
  padding-top: 35%;
  padding-left: 20%; }

.box-align-right-suggerimento {
  text-align: right;
  padding-top: 35%;
  padding-left: 80%; }

.box-user {
  border-radius: 15px;
  padding: 20px; }

.box-user > .mud-avatar.mud-avatar-medium {
  width: 80px;
  height: 80px;
  font-size: 1.25rem; }

.content-button-aggiungi {
  text-align: right;
  padding: 0em 2em 2em 0em;
  margin-right: auto;
  margin-left: auto; }

.button-aggiungi-suggerimento {
  width: 15em;
  border: 2px solid #ffce33;
  border-radius: 12em !important;
  padding: .5em; }

.button-delete-suggerimento {
  height: 20px;
  width: 49%;
  text-align: left;
  background-color: #fff; }

.button-dett-suggerimento {
  /* height: 40px;
     width: 49%;
    text-align: right;
    background-color: #fff;*/
  padding-top: 5em; }

.box-right-suggerimento > .mud-card-actions {
  flex-direction: row-reverse; }

.div-center {
  text-align: center;
  width: 100%; }

.box-left-suggerimento > .mud-card-content > .mud-inherit-text > .mud-avatar.mud-avatar-medium {
  width: 80px;
  height: 80px;
  font-size: 1.25rem; }

@media (max-width: 900px) {
  .box {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    flex-basis: calc((100% - 120px) / 1);
    margin-bottom: 40px;
    transition: all .1s ease-out;
    color: #0b2d3d;
    box-sizing: border-box;
    width: calc((100% - 120px) / 1);
    -ms-word-break: break-all;
    word-break: break-all;
    border-radius: 25px; }
  .button-aggiungi-suggerimento {
    margin-top: 5%; }
  .box-container-suggerimento {
    display: flex;
    flex-flow: wrap;
    width: 100%; }
  .box-user {
    padding: 10px 10px 10px 10px; }
  .box-left-suggerimento > .mud-card-content > .mud-inherit-text > .mud-avatar.mud-avatar-medium {
    width: 35px;
    height: 35px;
    font-size: .5em; }
  .mud-typography-body2 {
    font-size: 10px !important; }
  #fa-icon-dettagliosuggerimento-piccola {
    display: inline !important; }
  #fa-icon-dettagliosuggerimento-grande {
    display: none !important; }
  .box-left-suggerimento > .mud-card-content {
    padding: 0px; } }

.cartina {
  border: 1px solid #fff;
  width: 100%; }

.box-container-mappa {
  display: flex;
  flex-flow: wrap;
  width: 100%; }

.box-mappa {
  height: 90% !important;
  background-color: #fff;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  transition: all .1s ease-out;
  color: #0b2d3d;
  box-sizing: border-box;
  width: calc((100% - 120px) / 4);
  -ms-word-break: break-all;
  word-break: break-all;
  border-radius: 25px; }

.results-mappa {
  color: #0b2d3d; }

.div-content-mappa {
  border-radius: 25px;
  background: #fff;
  padding: 20px;
  width: 500px;
  height: 150px; }

@media (max-width: 900px) {
  .box-mappa {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    flex-basis: calc((100% - 120px) / 1);
    margin-bottom: 40px;
    transition: all .1s ease-out;
    color: #0b2d3d;
    box-sizing: border-box;
    width: calc((100% - 120px) / 1);
    -ms-word-break: break-all;
    word-break: break-all;
    border-radius: 25px; }
  .box-container-mappa {
    display: flex;
    flex-flow: wrap;
    width: 100%; } }

@font-face {
  font-family: "Halenoir-Light";
  src: url(../../Files/Font/Halenoir-Light.otf) format("opentype");
  src: local("Halenoir-Light"); }

@font-face {
  font-family: "Halenoir-Black";
  src: url(../../Files/Font/Halenoir-Black.otf) format("opentype");
  src: local("Halenoir-Black"); }

@font-face {
  font-family: "PlayfairDisplay-Medium";
  src: url(../../Files/Font/PlayfairDisplay-Medium.ttf) format("truetype");
  src: local("PlayfairDisplay-Medium"); }

.main-box-home {
  height: 100%;
  width: 100%;
  position: absolute; }

/*.first-cont-page {
    background-image: url(/image/sfondo_placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/
.inner-background-col-container, .inner-gradient-box, .inner-galler-home {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 100%; }

/*.inner-background-col-container {
    background-color: rgba(82, 2, 0, 0.4);
}*/
/*
.inner-gradient-box {
    background: rgb(10,0,0);
    background: linear-gradient(29deg, rgba(10,0,0,1) 0%, rgba(255,255,255,0) 70%);
}*/
#up-bottom-box {
  z-index: 100;
  display: flex;
  justify-content: center;
  margin-top: -51px; }

.hashtag-container {
  border-radius: 30px;
  border: 0.1em solid #A70F0C;
  background-color: #ffffff;
  width: 90%; }

#carousel-home {
  position: relative;
  box-sizing: border-box;
  width: 480px;
  height: 480px;
  border-radius: 50%; }

#full-carousel-home {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover; }

.carousel-home-item {
  box-sizing: border-box; }

.carousel-home-item img {
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat; }

.yellow-boxe-home {
  background-color: #FFCE34; }

#circle-background {
  background-color: #ffffff;
  width: 150%;
  height: 400px;
  border-radius: 100%;
  z-index: 2; }

#yellow-box-negat-margin {
  margin-top: -14em;
  padding: 14em 0 6em 3em !important; }

.top-text {
  z-index: 40; }

.custom-carousel-bullets {
  margin-top: 2em; }

.slider-rounded {
  width: 360px;
  height: 330px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%; }

.item-slider-rounded {
  width: 100%;
  height: 100%; }

#med-gallery, .inner-gallery-big-screen-gradient {
  height: 960px; }

/* Per Dispositivi Mobili */
#carousel-home-mobile {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  border-radius: 50%; }

#slider-home-mobile {
  height: 400px; }

#gallery-up-zindex {
  z-index: 150;
  margin-top: -20px; }

#med-gallery-mobile, .inner-gallery-gradient {
  height: 750px; }

#med-gallery-mobile, .inner-gallery-gradient, .in-background-color, .gallery-first-image, .gallery-second-image, .gallery-third-image, #med-gallery, .inner-gallery-big-screen-gradient {
  width: 100%;
  min-width: 100%; }

.inner-gallery-gradient, .rounded-corners-gallery-mobile {
  border-radius: 40px 40px 0 0; }

.inner-gallery-gradient, .inner-gallery-big-screen-gradient {
  background: black;
  background: linear-gradient(27deg, rgba(0, 0, 0, 0.675805) 0%, rgba(255, 255, 255, 0) 100%); }

.in-background-color {
  background-color: rgba(111, 3, 0, 0.65); }

.gallery-first-image, .gallery-second-image, .gallery-third-image {
  background-repeat: no-repeat;
  background-size: cover; }

.gallery-first-image {
  background-image: url(/image/gallery-photoA.jpg); }

.gallery-second-image {
  background-image: url(/image/gallery-photoB.jpg); }

.gallery-third-image {
  background-image: url(/image/gallery-photoC.jpg); }

.hashtag-box {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #A70F0C;
  border-radius: 20px;
  padding: 0.3em;
  border: 0.1em solid #A70F0C; }

#scnd-box-mobile {
  border-radius: 40px;
  z-index: 100;
  margin-top: -66px;
  background-color: #ffffff; }

.footer-legarti > .mud-input-control > .mud-input-control-input-container > .mud-input-label-outlined.mud-input-label-inputcontrol {
  line-height: 18px;
  background-color: #FFCE34 !important; }

@font-face {
  font-family: "Halenoir-Light";
  src: url(../../Files/Font/Halenoir-Light.otf) format("opentype");
  src: local("Halenoir-Light"); }

@font-face {
  font-family: "Halenoir-Black";
  src: url(../../Files/Font/Halenoir-Black.otf) format("opentype");
  src: local("Halenoir-Black"); }

@font-face {
  font-family: "PlayfairDisplay-Medium";
  src: url(../../Files/Font/PlayfairDisplay-Medium.ttf) format("truetype");
  src: local("PlayfairDisplay-Medium"); }

.box-right-evento {
  text-align: right;
  margin-bottom: 1em; }

.btn-new-event {
  margin-top: 5em;
  display: flex;
  justify-content: space-between; }

.button-preview-evento, .btn-salva-evento {
  border: 2px solid #ffce33;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 12em !important;
  background-image: linear-gradient(to right, #ffffff, #ffd75b);
  padding: 0px 10px 0px 10px !important; }

.btn-salva-evento {
  color: #000;
  border: 2px solid #ffce33;
  background-color: #fff !important;
  background-image: linear-gradient(to right, #fff, #fff); }

.upload-style {
  margin-top: 3em;
  margin-bottom: 3em; }

.img {
  width: 300px;
  height: 200px;
  object-fit: cover; }

.data-style {
  color: red;
  font-size: 12px;
  FONT-WEIGHT: bolder; }

.text-descrizione-evento {
  width: 100%; }

.evento-message-error {
  color: red;
  width: 100%;
  text-align: center !important; }

.box-container-evento {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  padding-top: 2em;
  align-items: center;
  justify-content: center; }

.box-evento {
  height: 30em !important;
  overflow: auto !important;
  background-color: #fff;
  padding: 2px;
  margin-left: 2em;
  margin-bottom: 40px;
  transition: all .1s ease-out;
  color: #0b2d3d;
  box-sizing: border-box;
  width: calc(105% / 3);
  -ms-word-break: break-all;
  word-break: break-all;
  border-radius: 25px; }

.img-evento-list {
  width: 100%;
  height: 200px;
  object-fit: cover; }

@media (max-width: 900px) {
  .img-evento-list {
    height: 20em !important;
    object-fit: cover; }
  .mud-typography-h5 {
    font-size: 1.5em;
    font-weight: bold; }
  .text-descrizione-evento {
    font-size: 13.5px !important; } }

@font-face {
  font-family: "Halenoir-Light";
  src: url(../../Files/Font/Halenoir-Light.otf) format("opentype");
  src: local("Halenoir-Light"); }

@font-face {
  font-family: "Halenoir-Black";
  src: url(../../Files/Font/Halenoir-Black.otf) format("opentype");
  src: local("Halenoir-Black"); }

@font-face {
  font-family: "PlayfairDisplay-Medium";
  src: url(../../Files/Font/PlayfairDisplay-Medium.ttf) format("truetype");
  src: local("PlayfairDisplay-Medium"); }

.text-description {
  background-color: blanchedalmond;
  text-align: left; }

.text-description-title {
  background-color: blanchedalmond; }

.button-admin {
  margin: 2em;
  padding: .5em; }

.centered-div-admin {
  background-color: #fff;
  color: #000;
  width: 50%;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ffffff;
  top: 80%; }

.box-login-admin {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

@media (max-width: 900px) {
  .centered-div-admin {
    width: 100%;
    margin: 5px;
    padding: 5px; }
  .box-login-full-admin {
    font-size: 8px;
    padding: 0em; }
  #box-login-admin > div > div > div > label {
    font-size: 1.5em;
    padding: 0px !important; }
  .box-login-full-admin > .col-md-12 > .mud-input-control > .mud-input-control-input-container > .mud-input-label-outlined.mud-input-label-inputcontrol {
    font-size: 1.5em;
    padding: 0px !important; }
  .button-registrati, .button-password-forgot {
    font-size: 1.5em;
    padding: .2em !important; }
  .mud-input-label-outlined {
    transform: translate(14px, 20px) scale(1);
    pointer-events: none; }
  .button-login-admin {
    font-size: 1.9em;
    padding: 0 !important; }
  .mud-icon-root {
    width: .8em;
    height: 1em; } }

/**/
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, Arial, Helvetica sans-serif, Halenoir-Light, Halenoir-Black, PlayfairDisplay-Medium;
  background-color: #ffffff; }

.affix {
  -webkit-transition: padding 0.2s ease-out;
  -moz-transition: padding 0.2s ease-out;
  -o-transition: padding 0.2s ease-out;
  transition: padding 0.2s ease-out; }

.extended-element {
  padding: 0 !important;
  margin: 0 !important; }

.transparent-boxes {
  background-color: transparent;
  box-shadow: none !important; }

.center-flex-elements {
  display: flex;
  align-items: center; }

.full-width-main-boxes {
  width: 100%;
  height: 100%;
  position: relative !important; }

.main-containers-web {
  width: 100%;
  height: 80%; }

.below-container {
  z-index: 0; }

#content-body {
  height: 100%;
  min-width: 100%;
  position: absolute; }

.lines-legarti {
  border: none;
  border-top: 0.8em solid #FFCE34;
  width: 100%; }

.lines-legarti-neg {
  border: none;
  border-top: 0.6em solid #191411;
  width: 100%; }

#intestazione-icona {
  width: 100%; }

.XXL-icons {
  width: 70px; }

.big-icons-home {
  width: 42px; }

.small-icons {
  width: 29px; }

.Xsmall-icons {
  width: 19px; }

.chapter-icon {
  width: 100%; }

.mud-grid-spacing-xs-3 {
  width: calc(100% + 0px) !important; }

/* Navbar versione mobile */
.mobile-navbar {
  background-color: #ffffff; }

/*  typo Legarti */
.main-title {
  font-size: 52px;
  font-family: PlayfairDisplay-Medium;
  text-transform: uppercase;
  letter-spacing: 0.3em; }

.subtitle {
  font-size: 32px;
  font-family: PlayfairDisplay-Medium;
  text-transform: uppercase;
  letter-spacing: 0.3em; }

/*
.subtitleB {
    font-size: 23px;
    font-family: PlayfairDisplay-Medium;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}*/
.text-legarti {
  font-size: 15px;
  font-family: Halenoir-Light; }

.text-bold {
  font-size: 15px;
  font-family: Halenoir-Black; }

.text-reg {
  font-size: 15px;
  font-family: Halenoir-Medium; }

.bold-text {
  font-weight: 900 !important; }

/*  colors Legarti */
.light-color {
  color: #ffffff; }

.main-color {
  color: #FFCE34; }

.dark-color {
  color: #191411; }

.red-color {
  color: #A70F0C; }

/* 
    I link rimangono selezionati anche 
    quando si fa pardere il focus
*/
.footer-legarti {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFCE34; }

.inner-footer-container {
  background: #d93632;
  background: linear-gradient(137deg, rgba(217, 54, 50, 0) 45%, rgba(217, 54, 50, 0.532948) 100%); }

.footer-legarti, .inner-footer-container {
  border-radius: 40px 40px 0 0; }

.copyright-text {
  font-size: 13px; }

.flex-search-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em; }

.table-css {
  height: 100%;
  overflow: auto; }

.flex-result-container {
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em; }

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 140px;
  /* Same width as the sidebar + left position in px */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
  padding-right: 1em; }

.content-menu-body {
  float: left;
  height: 100%; }

.content-loading {
  position: absolute;
  top: 30vh;
  width: 100%;
  text-align: center; }

.content-loading i, .content-loading p {
  font-size: 1.5em;
  color: gray; }

.loading-text {
  padding-left: 10%;
  padding-top: 15%;
  text-align: left;
  font-size: 1.3em; }

.loading-bar {
  padding-left: 10%;
  padding-top: 10%;
  text-align: center; }

.mud-dialog-width-sm {
  max-width: 1000em;
  width: 25em;
  height: 15em; }

.mud-dialog .mud-dialog-title {
  border-bottom: 1px solid #b3b5bc; }

/**********  filter class *****************/
.filter {
  width: 98%;
  border-bottom: 1px solid #b3b5bc; }

/********** end filter class *****************/
.custom-next-arrow {
  margin-left: 3em !important; }

.custom-prev-arrow {
  margin-right: 3em !important; }

.custom-prev-arrow, .custom-next-arrow {
  margin-right: 3em !important;
  color: #A70F0C !important;
  border: 0.1em solid #A70F0C !important;
  border-radius: 5px !important;
  font-size: 1em !important; }

a {
  color: #0366d6;
  text-decoration: none; }

.element-padding-top {
  padding-top: 5%; }

.button-align-right {
  text-align: right; }

.button-save {
  width: 15% !important; }

.body-content-legarti {
  padding-top: 5em; }

/* Media Queries */
@media only screen and (max-width: 659px) {
  .header-container {
    background-image: url(/image/sfondo_header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; }
  #intestazione-icona {
    width: 70%;
    min-width: 70%; }
  .hidden-small-sizes {
    display: none; }
  .hidden-big-sizes {
    display: block; } }

@media only screen and (min-width: 660px) {
  .hidden-small-sizes {
    display: block; }
  .hidden-big-sizes {
    display: none; } }

@media only screen and (min-width: 660px) and (max-width: 800px) {
  .header-container {
    background-image: url(/image/sfondo_header.png);
    background-repeat: no-repeat;
    background-size: cover; } }

@media only screen and (min-width: 801px) {
  .header-container {
    background-image: url(/image/sfondo_header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover; }
  .first-container-mobile {
    display: none; } }

@media only screen and (min-width: 650px) and (max-width: 900px) {
  .main-containers-web {
    height: auto !important;
    min-height: auto !important; } }

@media (max-width: 900px) {
  #yellow-box-negat-margin {
    margin-top: -19em;
    padding: 20em 0 6em 3em !important; }
  #circle-background {
    height: 520px;
    border-radius: 80%; }
  #hide-grid-on-small {
    display: none !important; }
  #show-grid-on-small {
    display: block !important; }
  #hide-grid-on-small {
    display: block !important; }
  #show-grid-on-small {
    display: none !important; }
  .titolo {
    padding-top: 2em; }
  .body-content-legarti {
    padding-top: 1em; } }

/* Per Dispositivi Mobili */
.negative-margin-footer {
  margin-top: -48px; }

.fa {
  padding: 5px 10px 5px 10px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%; }

.fa:hover {
  opacity: 0.7; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.align-image-home {
  padding-top: 15em !important; }

.align-image-home-circle {
  padding-top: 80em !important; }

.text-legarti-hashtag {
  font-size: 12px !important; }

.text-legarti-hashtag {
  font-size: 12px !important; }

.titolo {
  text-align: center;
  font-size: 3em;
  color: rgba(48, 3, 2, 0.5);
  font-weight: 100;
  text-shadow: 0 0 2px #ffce34;
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000; }

#mud-snackbar-container {
  margin-bottom: 5em !important; }
